h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

img {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

div {
    width: 300px;
    margin: auto;
    text-align: center;
}